In [1]:
# change root path one level up
import os
os.chdir("..")

In [2]:
import numpy as np
import pandas as pd
import pytz
import time

# lightgbm and optuna
from sklearn.metrics.pairwise import cosine_similarity
from tqdm.notebook import tqdm
# import datetime and timedelta
from datetime import datetime, timedelta




# CAT_FEATURES = ['stationID', 'spaceID', 'siteID', 'clusterID', 'userID', 'paymentRequired', 'connectionTime_Weekday', 'connectionTime_Hour', 'connectionTime_Month', 'connectionTime_is_holiday', 'connectionTime_is_weekend', 'connectionTime_weekday_hour']
CAT_FEATURES = ["userID"]
NUM_FEATURES = [
    "connectionTime_hour_x",
    "connectionTime_hour_y",
    "connectionTime_month_x",
    "connectionTime_month_y",
    "connectionTime_weekday_x",
    "connectionTime_weekday_y",
]
TARGET = 'kWhDelivered'

In [3]:
sessions = pd.read_csv("./data/caltech_test_data.csv", index_col=[0, 1])
for cols in CAT_FEATURES:
    sessions[cols] = sessions[cols].astype("category")
sessions = sessions[NUM_FEATURES + CAT_FEATURES + [TARGET]]
sessions

                                               connectionTime_hour_x  \
connection_time_copy _id
2018-04-30           5bc915caf9af8b0dad3c0660          -5.000000e-01
2018-05-07           5bc917d0f9af8b0dc677b8bb          -2.588190e-01
2018-05-11           5bc9190ff9af8b0dc677b9c1          -5.000000e-01
2018-05-14           5bc919c3f9af8b0dc677ba32           8.770390e-14
                     5bc919c3f9af8b0dc677ba62          -2.588190e-01
...                                                              ...
2019-12-30           5e1fbc9ff9af8b5391bcd6fc          -7.071068e-01
                     5e1fbc9ff9af8b5391bcd700          -1.000000e+00
2019-12-31           5e210e1ff9af8b57bb4f54fa          -5.000000e-01
                     5e210e1ff9af8b57bb4f54fd          -9.659258e-01
                     5e210e1ff9af8b57bb4f5500           1.133298e-14

                                               connectionTime_hour_y  \
connection_time_copy _id
2018-04-30           5bc915caf9af8b0dad3c0660           8.660254e-01
2018-05-07           5bc917d0f9af8b0dc677b8bb           9.659258e-01
2018-05-11           5bc9190ff9af8b0dc677b9c1           8.660254e-01
2018-05-14           5bc919c3f9af8b0dc677ba32           1.000000e+00
                     5bc919c3f9af8b0dc677ba62          -9.659258e-01
...                                                              ...
2019-12-30           5e1fbc9ff9af8b5391bcd6fc           7.071068e-01
                     5e1fbc9ff9af8b5391bcd700          -9.512791e-14
2019-12-31           5e210e1ff9af8b57bb4f54fa           8.660254e-01
                     5e210e1ff9af8b57bb4f54fd           2.588190e-01
                     5e210e1ff9af8b57bb4f5500          -1.000000e+00

                                               connectionTime_month_x  \
connection_time_copy _id
2018-04-30           5bc915caf9af8b0dad3c0660                0.892254
2018-05-07           5bc917d0f9af8b0dc677b8bb                0.565554
2018-05-11           5bc9190ff9af8b0dc677b9c1               -0.232105
2018-05-14           5bc919c3f9af8b0dc677ba32               -0.742684
                     5bc919c3f9af8b0dc677ba62               -0.802694
...                                                               ...
2019-12-30           5e1fbc9ff9af8b5391bcd6fc                0.968119
                     5e1fbc9ff9af8b5391bcd700                0.974267
2019-12-31           5e210e1ff9af8b57bb4f54fa                0.998482
                     5e210e1ff9af8b57bb4f54fd                0.999571
                     5e210e1ff9af8b57bb4f5500                0.999519

                                               connectionTime_month_y  \
connection_time_copy _id
2018-04-30           5bc915caf9af8b0dad3c0660               -0.451533
2018-05-07           5bc917d0f9af8b0dc677b8bb                0.824711
2018-05-11           5bc9190ff9af8b0dc677b9c1                0.972691
2018-05-14           5bc919c3f9af8b0dc677ba32                0.669642
                     5bc919c3f9af8b0dc677ba62                0.596391
...                                                               ...
2019-12-30           5e1fbc9ff9af8b5391bcd6fc               -0.250491
                     5e1fbc9ff9af8b5391bcd700               -0.225399
2019-12-31           5e210e1ff9af8b57bb4f54fa               -0.055088
                     5e210e1ff9af8b57bb4f54fd               -0.029276
                     5e210e1ff9af8b57bb4f5500                0.030998

                                               connectionTime_weekday_x  \
connection_time_copy _id
2018-04-30           5bc915caf9af8b0dad3c0660              9.555728e-01
2018-05-07           5bc917d0f9af8b0dc677b8bb              9.659258e-01
2018-05-11           5bc9190ff9af8b0dc677b9c1             -7.330519e-01
2018-05-14           5bc919c3f9af8b0dc677ba32              9.749279e-01
                     5bc919c3f9af8b0dc677ba62              8.045978e-01
...                                                                 ...
2019-12-30           5e1fbc9ff9af8b5391bcd6fc              9.438833e-01
                     5e1fbc9ff9af8b5391bcd700              9.009689e-01
2019-12-31           5e210e1ff9af8b57bb4f54fa              3.653410e-01
                     5e210e1ff9af8b57bb4f54fd              2.588190e-01
                     5e210e1ff9af8b57bb4f5500              3.086296e-14

                                               connectionTime_weekday_y  \
connection_time_copy _id
2018-04-30           5bc915caf9af8b0dad3c0660                  0.294755
2018-05-07           5bc917d0f9af8b0dc677b8bb                  0.258819
2018-05-11           5bc9190ff9af8b0dc677b9c1                 -0.680173
2018-05-14           5bc919c3f9af8b0dc677ba32                  0.222521
                     5bc919c3f9af8b0dc677ba62                  0.593820
...                                                                 ...
2019-12-30           5e1fbc9ff9af8b5391bcd6fc                  0.330279
                     5e1fbc9ff9af8b5391bcd700                  0.433884
2019-12-31           5e210e1ff9af8b57bb4f54fa                  0.930874
                     5e210e1ff9af8b57bb4f54fd                  0.965926
                     5e210e1ff9af8b57bb4f5500                  1.000000

                                              userID  parking_time
connection_time_copy _id
2018-04-30           5bc915caf9af8b0dad3c0660     22      9.335000
2018-05-07           5bc917d0f9af8b0dc677b8bb     61     10.611944
2018-05-11           5bc9190ff9af8b0dc677b9c1     22      9.028333
2018-05-14           5bc919c3f9af8b0dc677ba32     66      9.321944
                     5bc919c3f9af8b0dc677ba62     61      1.121944
...                                              ...           ...
2019-12-30           5e1fbc9ff9af8b5391bcd6fc    743      2.066667
                     5e1fbc9ff9af8b5391bcd700   1124      7.735556
2019-12-31           5e210e1ff9af8b57bb4f54fa    743      1.963889
                     5e210e1ff9af8b57bb4f54fd   1124      7.338333
                     5e210e1ff9af8b57bb4f5500    838     21.891389

[4957 rows x 8 columns]

In [16]:
# find dates 30, 60, 120, 240, 360, 480, 600 days before 2020-12-01 and make a list of them
dates = []
for i in [30, 60, 120, 240, 360, 480]:
    dates.append((datetime(2019, 11, 1) - timedelta(days=i)).strftime("%Y-%m-%d"))
dates

['2019-10-02',
 '2019-09-02',
 '2019-07-04',
 '2019-03-06',
 '2018-11-06',
 '2018-07-09']

In [17]:
# make 6 partitions for training starting with dates[i] and ending with datetime(2020, 12, 1)
train_sessions = []
for i in range(len(dates)):
    train_sessions.append(sessions.loc[dates[i] : "2019-12-01"])
    # print number of sessions in each partition
    print(train_sessions[i].shape)

(403, 8)
(673, 8)
(1147, 8)
(2527, 8)
(4207, 8)
(4786, 8)

In [6]:
# testing data is collected from Dec. 1, 2018 to Jan. 1, 2019
test = sessions.loc[(slice("2019-12-01", "2020-01-01"), slice(None)), :]

In [9]:
def get_similar_sessions(train_test_ds, feats, session_idx, n=5, target=TARGET):
    train_ds_scaled = train_test_ds[feats]
    # start timer
    start = time.time()
    # if categorical features are in feats
    if any([x in CAT_FEATURES for x in feats]):
        # dummy encode categorical features
        train_ds_scaled = pd.get_dummies(train_ds_scaled, columns=CAT_FEATURES)
    historical = train_ds_scaled[:session_idx]
    # calculate the cosine similarity for the row of session_idx
    cosine_sim = cosine_similarity(
        historical, train_ds_scaled.loc[session_idx].values.reshape(1, -1)
    )
    # make a dataframe
    cosine_sim_df = pd.DataFrame(cosine_sim, index=historical.index)
    # show the top 10 most similar sessions
    top = (
        train_test_ds[:session_idx]
        .loc[cosine_sim_df.nlargest(n, columns=0).index][target]
        .values
    )
    # calculate mean of top n similar sessions
    top_mean = top.mean()
    runtime = time.time() - start
    # clean up
    del train_ds_scaled, historical, cosine_sim, cosine_sim_df, top
    return top_mean, runtime

# evaluate smape of lightgbm model
def smape(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / (y_true + y_pred))) * 100


def mae(y_true, y_pred):
    return np.mean(np.abs(y_true - y_pred))

In [13]:
results = pd.DataFrame(
    columns=["smape", "mae"], index=[30, 60, 120, 240, 360, 480]
)
for i, ds in enumerate(train_sessions):
    # size of the dataset
    print(ds.shape)
    concat = pd.concat(
        [ds[NUM_FEATURES + [TARGET]], test[NUM_FEATURES + [TARGET]]]
    )
    test_fore = test.copy()
    rt_list = []
    for j in range(20):
        for idx in test.index.tolist():
            # get similar sessions
            top_mean, rt = get_similar_sessions(concat, NUM_FEATURES, idx)
            test_fore.loc[idx, TARGET+"_forecast"] = top_mean
            rt_list.append(rt)
    print(f"Runtime: {np.mean(rt_list)}")
    # evaluate smape of similar sessions model
    print(
        "smape of similar sessions model: ",
        smape(test_fore[TARGET], test_fore[TARGET+"_forecast"]),
    )
    results.iloc[i]["smape"] = smape(
        test_fore[TARGET], test_fore[TARGET+"_forecast"]
    )
    # evaluate mae of similar sessions model
    print(
        "mae of similar sessions model: ",
        mae(test_fore[TARGET], test_fore[TARGET+"_forecast"]),
    )
    results.iloc[i]["mae"] = mae(
        test_fore[TARGET], test_fore[TARGET+"_forecast"]
    )

(196, 8)
Runtime: 0.0008450195288202565
smape of similar sessions model:  15.949720116895955
mae of similar sessions model:  2.27575194621373
(403, 8)
Runtime: 0.0008223163853785035
smape of similar sessions model:  15.843320417331519
mae of similar sessions model:  2.262368365180467
(910, 8)
Runtime: 0.0008510730828449225
smape of similar sessions model:  15.079997270451559
mae of similar sessions model:  2.140452583156405
(2127, 8)
Runtime: 0.0010562423687831611
smape of similar sessions model:  15.205779046142034
mae of similar sessions model:  2.1662703467799007
(3627, 8)
Runtime: 0.0009929656223127037
smape of similar sessions model:  15.451776280518342
mae of similar sessions model:  2.1620555555555554
(4779, 8)
Runtime: 0.0010560145044023065
smape of similar sessions model:  15.575784617909186
mae of similar sessions model:  2.176524416135881

In [14]:
# save to csv
results.to_csv("./results/similar_sessions_energy_nologs.csv")
results

       smape      mae
30   15.9497  2.27575
60   15.8433  2.26237
120    15.08  2.14045
240  15.2058  2.16627
360  15.4518  2.16206
480  15.5758  2.17652

In [11]:
results = pd.DataFrame(
    columns=["smape", "mae"], index=[30, 60, 120, 240, 360, 480]
)
for i, ds in enumerate(train_sessions):
    # size of the dataset
    print(ds.shape)
    concat = pd.concat(
        [ds[NUM_FEATURES + CAT_FEATURES +[TARGET]], test[NUM_FEATURES + CAT_FEATURES + [TARGET]]]
    )
    test_fore = test.copy()
    rt_list = []
    for j in range(20):
        for idx in test.index.tolist():
            # get similar sessions
            top_mean, rt = get_similar_sessions(concat, NUM_FEATURES + CAT_FEATURES, idx)
            test_fore.loc[idx, TARGET+"_forecast"] = top_mean
            rt_list.append(rt)
    print(f"Runtime: {np.mean(rt_list)}")
    # evaluate smape of similar sessions model
    print(
        "smape of similar sessions model: ",
        smape(test_fore[TARGET], test_fore[TARGET+"_forecast"]),
    )
    results.iloc[i]["smape"] = smape(
        test_fore[TARGET], test_fore[TARGET+"_forecast"]
    )
    # evaluate mae of similar sessions model
    print(
        "mae of similar sessions model: ",
        mae(test_fore[TARGET], test_fore[TARGET+"_forecast"]),
    )
    results.iloc[i]["mae"] = mae(
        test_fore[TARGET], test_fore[TARGET+"_forecast"]
    )

(196, 8)
Runtime: 0.0018453668636880863
smape of similar sessions model:  12.456112396150541
mae of similar sessions model:  1.772756192498231
(403, 8)
Runtime: 0.0018815819624882595
smape of similar sessions model:  13.12606917322082
mae of similar sessions model:  1.8045774946921445
(910, 8)
Runtime: 0.002015924985241738
smape of similar sessions model:  12.648671275336001
mae of similar sessions model:  1.769724699221515
(2127, 8)
Runtime: 0.0023922680289882
smape of similar sessions model:  11.98171424237393
mae of similar sessions model:  1.6842834394904458
(3627, 8)
Runtime: 0.0029356629225858457
smape of similar sessions model:  10.993270058871794
mae of similar sessions model:  1.5671514508138715
(4779, 8)
Runtime: 0.003150263865282581
smape of similar sessions model:  10.925311460482815
mae of similar sessions model:  1.5803404104741685

In [12]:
# save to csv
results.to_csv("./results/similar_sessions_energy.csv")
results

       smape      mae
30   12.4561  1.77276
60   13.1261  1.80458
120  12.6487  1.76972
240  11.9817  1.68428
360  10.9933  1.56715
480  10.9253  1.58034